.navbar-items {
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 9999;
  box-shadow: 0 0 13px rgb(0, 0, 0/25%);
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 0;
  }
  .menu-icon {
    cursor: pointer;
    display: none;
    .fa-bars {
      color: white;
    }
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-bottom: 2rem;
    margin-bottom: 0;
    .nav-links {
      color: #2982c4;
      padding: 0.5rem 1rem;
      &:hover {
        color: white;
        background-color: #6d76f7;
        border-radius: 4px;
        transition: all 0.2s ease-out;
      }
    }
    .nav-links-mobile {
      color: white;
      display: none;
    }
  }
  .btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #3acbf7 !important;
    padding: 8px 20px !important;
    border-radius: 4px !important;
    font-size: 18px !important;
    color: #fff;
    &:hover {
      transition: all 0.3s ease-out;
      background: #6568f4 !important;
      color: #fff !important;
      padding: 8px 20px;
      transition: 250ms;
    }
  }
}

@media screen and (max-width: 960px) {
  .navbar-items {
    position: relative;
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
    .nav-menu.active {
      background-color: #2982c4;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding-top: 20px;
    }
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
      color: #fff !important;
      &:hover {
        background-color: #7577fa;
        border-radius: 0;
      }
    }
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      .fa-bars{
        color: #3acbf7;
        font-size: 2rem;
      }
      .fa-times {
        color: #3acbf7;
        font-size: 2rem;
      }
    }
    .btn {
      display: none;
    }
    .nav-links-mobile {
      display: block !important;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background-color: #4ad9e4;
      font-size: 1.5rem;
      color: #fff;
      font-size: 1.5rem;
      &:hover {
        background-color: #fff;
        color: #6568f4;
        transition: 250ms;
      }
    }
  }
}
